body
{
    background-color: #111111;
    color: white;
    font-family: "Open Sans", sans-serif;
}

a
{
    color: #0077aa;
}

a:visited
{
    color: #5f1a9c;
}

p, dd, li
{
    color: #dddddd;
}

body
{
    max-width: 1000px;
    margin: auto;
    position: relative;
    text-align: left;
}
